body {
    margin: 0;
    padding: 0;
    background: url('../imagenes/login.jpg') no-repeat center top;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
}
.login-box{
    width: 300px;
    height: 420px;
    background-color: #000000;
    color: white;
    top: 50%;
    left: 49.5%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 20px 30px;
}
.login-box .avatar-login {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}
.login-box h1 {
    margin: 0;
    padding: 40px 0 20px 0;
    text-align: center;
    font-size: 22px;
}
.login-box label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
}
.login-box input {
    width: 100%;
    margin-bottom: 20px;
}
.login-box input[type="text"],
.login-box input[type="password"] {
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    outline: none;
    height: 40px;
    color: white;
    font-size: 16px;
}
.login-box input[type="submit"] {
    border: 1px solid white;
    outline: none;
    height: 40px;
    background: transparent;
    color: white;
    font-size: 16px;
    border-radius: 20px;
}
.login-box a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: grey;
}
.login-box a:hover {
    color: white;
}