body {
    margin: 0;
    padding: 0;
    background: url('../imagenes/login.jpg') no-repeat center;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
}
.login-box{
    position: absolute;
    width: 300px;
    height: 450px;
    background-color: #000000;
    color: white;
    top: 50%;
    left: 49.5%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 0 30px;
}
.login-box .avatar-login {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}
.login-box h1 {
    position: relative;
    top: 35px;
    margin: 0;
    padding: 20px 0 0 0;
    text-align: center;
    font-size: 22px;
}
.login-box input{
    position: relative;
    top: 40px;
    width: 100%;
    margin-bottom: 0;
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    outline: none;
    height: 40px;
    color: white;
    font-size: 16px;
}
.login-box input[type="submit"] {
    position: relative;
    top: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid white;
    outline: none;
    height: 40px;
    background: transparent;
    color: white;
    font-size: 16px;
    border-radius: 20px;
}
.login-box a {
    position: relative;
    top: 10px;
    margin: 0;
    padding: 30px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    line-height: 100px;
    color: grey;
}
.login-box a:hover {
    color: white;
}